<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">



	<bean id="person" class="com.bminor.springtest.projectOne.spring.Person"
		scope="prototype" init-method="onCreate" destroy-method="onDestroy"
		factory-method="createPerson" factory-bean="personfactory">
		<constructor-arg value="777" name="id"></constructor-arg>
		<constructor-arg value="Rachel" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address">
		</property>
		<property name="phoneNumbers">
		<util:map
			key-type="com.bminor.springtest.projectOne.spring.Phone.PhoneType"
			value-type="com.bminor.springtest.projectOne.spring.Phone">
		<entry
			key="UNKNOWN" value-ref="phone">
		</entry>
		</util:map>
		</property>
	</bean>

	<bean id="address" class="com.bminor.springtest.projectOne.spring.Address" p:street="23 Cherry Lane" p:postcode="12345">
	</bean>
	
	<bean id="personfactory" class="com.bminor.springtest.projectOne.spring.PersonFactory">
	</bean>
	<bean id="phone"
		class="com.bminor.springtest.projectOne.spring.Phone"
		p:phoneNumber="1234567890" p:phoneType="UNKNOWN" scope="prototype">
	</bean>
</beans>